@CHARSET "UTF-8";

.marker {
	background-color: red;
	opacity: 0.2;
}

.sto {
	width: 100%
}

p.normalny {
	font-weight: normal;
}

.g {
	vertical-align: top !important;
}

.d {
	vertical-align: bottom !important;
}

.m {
	vertical-align: middle !important;
}

.r {
	text-align: right !important;
}

.l {
	text-align: left !important;
}

.c {
	text-align: center !important;
	margin-left: auto;
	margin-right: auto;
}

.j {
	text-align: justify !important;
}

.i {
	font-style: italic !important;
}

.b {
	font-weight: bold !important;
}

.u {
	text-decoration: underline !important;
}

.s {
	text-decoration: line-through !important;
}

.inline {
	display: inline !important;
}

.inlineBlock {
	display: inline-block !important;
}

.block {
	display: block !important;
}

.h {
	display: none;
}

.v {
	display: inherit !important;
}

.a {
	position: absolute !important;
}

.blink {
	text-decoration: blink !important;
}

.clear {
	clear: both !important;
}

.hand {
	cursor: pointer !important;
}

.normal {
	font-size: 100% !important;
}

.small {
	font-size: 80% !important;
}

.smallest {
	font-size: 60% !important;
}

.mini {
	font-size: 40% !important;
}

.micro {
	font-size: 20% !important;
}

.big {
	font-size: 120% !important;
}

.bigest {
	font-size: 150% !important;
}

.huge {
	font-size: 200% !important;
}

.gigantic {
	font-size: 300% !important;
}
/* -------------------------------------------------------------------------- */
.zPrawej {
	float: right !important;
}

.zLewej {
	float: left !important;
}
/* -------------------------------------------------------------------------- */